node_modules
.expo
.env

# Ignore config directory 
config/
# Ignore dist directory
dist/

# Ignore vscode directory
.vscode/

# Ignore logs directory
logs/

# Ignore configuration files with sensitive information
config/firebase-config.json
config/google-cloud-storage.json
config/development.json

# Ignore test files
scripts/test-firebase.sh

# Ignore macOS system files
.DS_Store
**/.DS_Store
.DS_Store??
