node_modules
.expo
.env

# Ignore dist directory
dist/

# Ignore vscode directory
.vscode/

# Ignore logs directory
logs/.DS_Store

# Ignore config directory
config/.DS_Store

#Ignore env
.env

# Ignore jest config
jest.config.js
